/* Initial genetal styling */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #f8edeb;
    font-family: nunito-sans;
} 
html, body {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "nunito-sans";
    src: url("Nunito_Sans/NunitoSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "nunito-sans";
    src: url("Nunito_Sans/NunitoSans-SemiBoldItalic.ttf");
    font-weight: bolder;
    font-style: italic;
}
a {
    color: black;
    text-decoration: none;
}
section {
    text-align: center;
    padding: 0 0 0 0;
    margin-bottom: 40px;
}
/* Landing page */
#landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
#greeting {
    text-align: center;
    transform: translateY(40px);
    opacity: 0;
    margin: 0;
    animation: 1.5s ease-out 0.5s landing-greeting forwards;
}
.landing__greeting--primary {
    font-size: 4rem;
    margin-bottom: 10px;
}
.landing__greeting--secondary {
    font-size: 2rem;
    margin: 0;
}
@keyframes landing-greeting {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.landing__about-me {
    opacity: 0;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: underline;
    animation: 1s ease-in-out 2.1s about-me-fade forwards;
}
@keyframes about-me-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Generic class */
.section-heading {
    font-size: 3rem;
    margin: 80px 0 40px 0;
    /* padding: 30px 0 10px 0; */
    font-weight: bolder;
}
/* Main section */
.about-me__introduction {
    margin: 30px 0 0 0;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 40px;
    box-shadow: 0 0 2px black;
    /* transform: skew(0deg, 2deg); */
}
.my-picture {
    background-image: url("pictures/my_picture.jpg");
    width: 180px;
    height: 160px;
    margin-bottom: 20px;
    background-position-y: top;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 2px 2px 4px 0px black;
}
.about-me__introduction p {
    margin: 0;
}
.KTU {
    white-space: nowrap;
}
.link-text {
    text-decoration: underline;
}
/* Buttons with links to other page sections */
.links-to-sections {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template: auto auto auto / 1fr 1fr 1fr;
    row-gap: 20px;
    margin-top: 50px;
    padding: 20px 0;
    box-shadow: 0 0 2px black;
}
/* Set buttons position in the grid */
.link-button:nth-of-type(1) {
    grid-row: 1 / 1;
    grid-column: 1 / span 2;
}
.link-button:nth-of-type(2) {
    grid-row: 2 / 2;
    grid-column: 2 / span 2;
}
.link-button:nth-of-type(3) {
    grid-row: 3 / 3;
    grid-column: 1 / span 2;
}
/* Buttons styling */
.link-to-section {
    display: inline-block;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 3px;
}
/* Activities and projects */
.activities-roadmap, .projects-roadmap {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin: 0 auto;
}
.activity, .project {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}
.activity {
    max-width: 80%;
}
.activity__title, .project__title {
    font-size: 1.6rem;
}
.activity:nth-of-type(2n + 1) {
    align-self: flex-start;
}
.activity:nth-of-type(2n) {
    align-self: flex-end;
}
.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.link-icon {
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.GitHub-icon {
    background-image: url("svgs/icons8-github.svg");
}
.YouTube-icon {
    background-image: url("svgs/icons8-youtube.svg");
}
.LinkedIn-icon {
    background-image: url("svgs/icons8-linkedin-circled.svg");
}
.Instagram-icon {
    background-image: url("svgs/icons8-instagram.svg");
}
.Facebook-icon {
    background-image: url("svgs/icons8-facebook.svg");
}
/* Contacts */
.contacts-section .section-heading {
    margin-bottom: 20px;
}
.contacts-cta {
    font-size: 1.6rem;
}